<md-dialog aria-label="Add task" flex-xs="95"
           style="overflow-x: hidden"
           flex="80">
    <md-event-calendar
            ng-model="selected"
            md-events="events"
            md-event-click="eventClicked($selectedEvent)"
            md-label="title"
            md-show-create-link="false"
            md-create-event-click="eventCreatea($date)"
            md-create-disabled="false"

            class="md-primary"
    >
        <md-event-calendar-header class="md-center">
            <md-event-calendar-prev></md-event-calendar-prev>
            <md-event-calendar-title></md-event-calendar-title>
            <md-event-calendar-next></md-event-calendar-next>
        </md-event-calendar-header>
    </md-event-calendar>
</md-dialog>

