<md-dialog aria-label="Add task" flex-xs="95" flex="70">
    <form ng-cloak name="addTaskForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{task.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout-padding>
            <h3 class="md-subhead"><md-icon>access_time</md-icon> Date start: {{task.date_start | date: 'medium'}} | <md-icon>
                access_time</md-icon> Date end:
                {{task.date_end | date:
                'medium'}}</h3>
            <h4>From: {{task.from}}</h4>
            <p>{{task.text}}</p>
            <md-button class="md-block" ng-href="{{file.filename}}" ng-repeat="file in task.files">
                <md-icon>insert_drive_file</md-icon>
                {{file.filename}}
            </md-button>

        </md-dialog-content>

        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="hide()">
                Refactor
            </md-button>
            <md-button ng-click="hide()">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
